// Import Global Variables
@import 'global';

.breadcrumb {
  // Breadcrumb Styles
  color: $text-primary;
  text-decoration: none;
  font-size: 1.2em;
}

.breadcrumb:hover {
  // Bredcrumb Hover Styles
  color: $hover;
}

.toc-title {
  // Table Of Contents Title Styles
  color: $text-secondary;
  font-family: $font-primary;
  font-size: 2em;
}

.toc-body {
  // Table Of Contents Body Styles
  color: $text-secondary;
  font-family: $font-primary;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.toc-body a {
  // Table Of Contents Link Styles
  color: $text-secondary;
  font-family: $font-primary;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.toc-body a:hover, .toc-body a:active {
  // Table Of Contents Link Hover Styles
  color: $hover;
}

.article-title {
  // Article Title Styles
  color: $text-primary;
  font-family: $font-primary;
  margin: 0;
  padding-bottom: 30px;
  font-size: 3em;
}

.article-subtitle {
  // Article Subtitle Styles
  color: $text-secondary;
  font-family: $font-primary;
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 2em;
}

.article-subtitle-centered {
  // Article Centered Subtitle Styles
  color: $text-secondary;
  font-family: $font-primary;
  padding: 5px;
  text-align: center;
  font-size: 2em;
}

.article-content {
  // Article Alignment
  color: $text-primary;
  font-family: $font-primary;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: justify;
  font-size: 1.12em;
}

.article-image {
  // Article Image Styles
  width: 100%;
}

.article-sub-image {
  // Article Sub-image Styles
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 40px;
}

.article-image, .article-sub-image {
  // Article Photo Shadows
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-body {
  // Article Body Styles
  max-width: 80%;
  margin: 0 auto;
  font-family: $font-primary;
  padding: 60px 30px 30px 30px
}

@media only screen and (min-width: 800px) {
  .article-body {
    // Article Body Width @ 800px
    max-width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .article-body {
    // Article Body Width @ 1200px
    max-width: 70%;
  }
}
