$card: #e8e8e8;
$icon1: #18236a;
$icon2: #bba130;
$icon3: #238aa6;
$bg-primary: #ffffff;
$bg-secondary: #f0f0f0;
$bg-tertiary: #c9c9c9;
$text-primary: #282828;
$text-secondary: #585858;
$text-tertiary: #f7f7f7;
$font-primary: Roboto, sans-serif;
$font-secondary: Staatliches, cursive;

body {
  background-color: $bg-primary;
}
