// Background Color
$bg-primary: #fff;
$bg-secondary: #fff;
// Font Color
$text-primary: #000;
$text-secondary: #000;
// Navbar Color
$navbar-bg: #555;
$navbar-text: #555;
// Font Styles
//$font-primary:
//$font-secondary:
